//Color

$background-image: linear-gradient(
  to right top,
  #511845,
  #900c3f,
  #c70039,
  #ff5733
);
$primary-color: #511845;
$secundary-color: #f5f3f4;
$third-color: #f28f3b;
$fourth-color: #900c3f;

$button-color: #c70039;
