.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $background-image;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;

  .login-image {
    width: 150px;
    height: 150px;
  }
  #button {
    margin: 15px;
    color: white;
    background-color: $button-color;
  }
  a:visited {
    color: $button-color;
  }
  a:hover {
    color: $fourth-color;
  }
}
