.navbar_container {
  background-image: $background-image;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  ul {
    padding: 0px;
  }

  li {
    margin: 10px;
    list-style: none;
    display: inline;
    color: white;

    a:-webkit-any-link {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      color: lighten(white, 3%);
    }
  }
  .navbar_user {
    display: flex;
    align-items: center;
    color: white;
    a:visited {
      color: white;
    }
    a:hover {
      color: $fourth-color;
    }

    label {
      margin: 0px 25px 0px 5px;
    }
  }
}
