.navbar__container {
  background-image: $background-image;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  ul {
    padding: 0px;
  }

  li {
    margin: 10px;
    list-style: none;
    display: inline;
    color: white;

    a:-webkit-any-link {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      color: lighten(white, 3%);
    }
  }
  div {
    display: flex;
    input {
      outline: none;
      padding: 3%;
      border-radius: 0.3em;
      justify-content: flex-end;
      align-self: flex-end;
    }
  }
}
