.newCity_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: $background-image;
}

.newCity_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  padding: 50px;
  border-radius: 2.5%;
  background-color: $secundary-color;

  h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
  }
  .newCity_content {
    display: flex;
    flex-direction: column;
    .newCity_container-date {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;

      #input {
        color: "gray";
      }

      #date {
        color: transparent;

        &:focus {
          color: black;
        }
      }
    }
  }
  #button {
    color: $button-color;

    &:hover {
      background: lighten($button-color, 30%);
    }
  }
}
