.photos_container {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  margin: 0;

  img {
    height: 250px;
    width: 250px;

    margin: 2px;

    //object-fit: scale-down;
    object-fit: cover;
    cursor: pointer;
  }
  #photo-div {
    position: relative;

    .photo-check {
      position: absolute;
      top: 0;
      right: 0;
      color: rgb(92, 205, 92);
    }
  }
}
